{{> header lang=htmlWebpackPlugin.options.lang}}
<section class="container-fluid main-section-fluid-first section-dark">
  <div class="text-center mb-5">
    <h1 class="page-title">{{{translate htmlWebpackPlugin.options.lang 'history'}}}</h1>
  </div>
  <div class="container text-light">
    {{{translateBlock htmlWebpackPlugin.options.lang 'history_p1'}}}
  </div>
</section>
<div class="pimg2"></div>
<section class="container-fluid main-section-fluid section-light">
  <div class="container">
    {{{translateBlock htmlWebpackPlugin.options.lang 'history_p2'}}}
  </div>
</section>
<div class="pimg3"></div>
<section class="container-fluid main-section-fluid section-dark">
  <div class="container text-light">
    {{{translateBlock htmlWebpackPlugin.options.lang 'history_p3'}}}
  </div>
</section>
<div class="pimg1"></div>
<section class="container-fluid main-section-fluid section-light">
  <div class="container">
    {{{translateBlock htmlWebpackPlugin.options.lang 'history_p4'}}}
    <img src="../../static/logo_transp_big.png" alt="Logo" class="img-fluid mx-auto d-block" />
  </div>
</section>
{{> footer lang=htmlWebpackPlugin.options.lang}}