   {{> header lang=htmlWebpackPlugin.options.lang}}
    <div class="image-bg-wrapper">
      <div class="image-bg"></div>
      <div class="image-bg-overlay shadow p-3 mb-5"></div>
      <div class="hero-front">
        <h1>Musique</h1>
        <h2>Du premier régiment des grenadiers à pied de la Garde Impériale</h2>
        <h3>Waterloo</h3>
        <div>
          <a href="/{{htmlWebpackPlugin.options.lang}}/contact.html" class="btn btn-primary btn-lg">{{{translate htmlWebpackPlugin.options.lang 'contactUs'}}}</a>
          <a href="/{{htmlWebpackPlugin.options.lang}}/localisation.html" class="btn btn-primary btn-lg">{{{translate htmlWebpackPlugin.options.lang 'joinUs'}}}</a>
        </div>
      </div>
    </div>
    <div class="container main-section">
      {{{translateBlock htmlWebpackPlugin.options.lang 'intro'}}}
      <!-- Add a carousel here -->
      <a href="/historique.html" class="btn btn-primary btn-lg">{{{translate htmlWebpackPlugin.options.lang 'readAboutUs'}}}</a>
    </div>
  {{> footer lang=htmlWebpackPlugin.options.lang}}