  {{> header lang=htmlWebpackPlugin.options.lang}}
    <div class="image-bg-wrapper">
      <div class="image-bg"></div>
      <div class="image-bg-overlay shadow"></div>
      <div class="hero-front">
        <h1>Musique</h1>
        <h2>Du premier régiment des grenadiers à pied de la Garde Impériale</h2>
        <h3>Waterloo</h3>
        <div class="button-bar">
          <a href="/{{htmlWebpackPlugin.options.lang}}/contact.html" class="btn btn-primary btn-lg">{{{translate htmlWebpackPlugin.options.lang 'contactUs'}}}</a>
          <a href="/{{htmlWebpackPlugin.options.lang}}/localisation.html" class="btn btn-primary btn-lg">{{{translate htmlWebpackPlugin.options.lang 'joinUs'}}}</a>
        </div>
        <div class="scroll-down">
          <a class="lnk-button" id="scrollDownLink">
            <svg width="70px" height="70px">
              <path d="M5 30 L 35 55 L 65 30" fill="transparent" stroke="#fff" stroke-width="4" />
            </svg>
          </a>
        </div>
      </div>
    </div>
    <section class="container main-section" id="firstSection">
      {{{translateBlock htmlWebpackPlugin.options.lang 'intro'}}}
      <!-- Add a carousel here -->
      <a href="/historique.html" class="btn btn-primary btn-lg">{{{translate htmlWebpackPlugin.options.lang 'readAboutUs'}}}</a>
    </section>
    <section class="container main-section">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, dolor possimus quisquam aperiam maiores maxime atque accusantium rerum explicabo fuga, nisi deserunt dolores doloremque ab voluptate illum non distinctio assumenda nobis inventore iste vitae dicta nam. Amet, officiis! Architecto accusamus totam, autem assumenda blanditiis nobis nemo ullam quo fugiat veniam voluptate quaerat officia corporis maiores eum perspiciatis ipsum! Sequi eius itaque sed minima nisi laboriosam eveniet labore reprehenderit dolorum quia non earum, vitae explicabo delectus alias dicta accusantium ut architecto natus deserunt totam numquam? Nulla obcaecati vitae officiis itaque consequatur inventore dicta temporibus repudiandae? Maxime illum perspiciatis odio ducimus repudiandae?</p>
    </section>
  {{> footer lang=htmlWebpackPlugin.options.lang}}