  {{> header lang=htmlWebpackPlugin.options.lang}}
    <div class="image-bg-wrapper">
      <div class="image-bg"></div>
      <div class="image-bg-overlay shadow"></div>
      <div class="hero-front">
        <h1>Musique</h1>
        <h2>Du premier régiment des grenadiers à pied de la Garde Impériale</h2>
        <h3>Waterloo</h3>
        <div class="button-bar">
          <a href="/{{htmlWebpackPlugin.options.lang}}/contact.html" class="btn btn-primary btn-lg">{{{translate htmlWebpackPlugin.options.lang 'contactUs'}}}</a>
          <a href="/{{htmlWebpackPlugin.options.lang}}/localisation.html" class="btn btn-primary btn-lg">{{{translate htmlWebpackPlugin.options.lang 'joinUs'}}}</a>
        </div>
        <div class="scroll-down">
          <a class="lnk-button" id="scrollDownLink">
            <svg width="70px" height="70px">
              <path d="M5 30 L 35 55 L 65 30" fill="transparent" stroke="#fff" stroke-width="4" />
            </svg>
          </a>
        </div>
      </div>
    </div>
    <section class="container-fluid main-section-fluid section-gradient-1" id="firstSection">
      <div class="container">
        {{{translateBlock htmlWebpackPlugin.options.lang 'intro_card'}}}
      </div>
    </section>
    <section class="container main-section">
      <!-- Add a carousel here -->
      <p>Add a carousel called "What we do"</p>
    </section>
  {{> footer lang=htmlWebpackPlugin.options.lang}}