{{> header lang=htmlWebpackPlugin.options.lang}}
<section class="container-fluid main-section-fluid-first section-dark">
  <div class="text-center mb-5">
    <h1 class="page-title">{{{translate htmlWebpackPlugin.options.lang 'addressAndSched'}}}</h1>
  </div>
  <div class="container text-light">
    {{{translateBlock htmlWebpackPlugin.options.lang 'localisation_rehearsal'}}}
    <a href="/{{htmlWebpackPlugin.options.lang}}/contact.html" class="btn btn-primary btn-lg">{{{translate htmlWebpackPlugin.options.lang 'contactUsTitle'}}}</a>
  </div>
</section>
<section class="container-fluid main-section-fluid section-light">
  <div class="container">
    <h1>{{translate htmlWebpackPlugin.options.lang 'accessToRehearsal'}}</h1>
    <p>{{translate htmlWebpackPlugin.options.lang 'googleMapLink'}}:
      <a href="http://maps.google.be/maps?f=q&source=s_q&hl=fr&geocode=&q=666+Chauss%C3%A9e+de+Bruxelles,+Waterloo,+R%C3%A9gion+Wallonne&sll=50.696214,4.402948&sspn=0.008454,0.022724&ie=UTF8&hq=&hnear=Chauss%C3%A9e+de+Bruxelles+666,+Waterloo+1410+Waterloo,+Brabant+Wallon,+R%C3%A9gion+Wallonne&ll=50.69643,4.402771&spn=0.008454,0.022724&z=16"
        target="_blank">666 Chaussée de Bruxelles</a>, Waterloo.</p>
    <p>{{translate htmlWebpackPlugin.options.lang 'parking'}}</p>
    <iframe class="mx-auto d-block" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5054.533960125466!2d4.402771!3d50.69643!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3d1e95bfb12dd%3A0x734b4ae50bc34872!2sChauss%C3%A9e+de+Bruxelles+666%2C+1410+Waterloo!5e0!3m2!1sfr!2sbe!4v1528833525321"
      width="600" height="450" frameborder="0" allowfullscreen></iframe>
  </div>
</section>
{{> footer lang=htmlWebpackPlugin.options.lang}}