{{> header lang=htmlWebpackPlugin.options.lang}}
<section class="container-fluid main-section-fluid-first section-dark">
  <div class="text-center mb-5">
    <h1 class="page-title">{{{translate htmlWebpackPlugin.options.lang 'addressAndSched'}}}</h1>
  </div>
  <div class="container text-light section-text">
    {{{translateBlock htmlWebpackPlugin.options.lang 'localisation_rehearsal'}}}
    <a href="/{{htmlWebpackPlugin.options.lang}}/contact.html" class="btn btn-primary btn-lg">{{{translate
      htmlWebpackPlugin.options.lang 'contactUsTitle'}}}</a>
  </div>
</section>
<section class="container-fluid main-section-fluid section-light">
  <div class="container section-text">
    <h1>{{translate htmlWebpackPlugin.options.lang 'accessToRehearsal'}}</h1>
    <p>{{translate htmlWebpackPlugin.options.lang 'googleMapLink'}}:
      <a href="https://maps.app.goo.gl/nJCfvHqNydvDTk226" target="_blank" rel="noopener">135 rue Mattot</a>, Waterloo.
    </p>
    <p>{{translate htmlWebpackPlugin.options.lang 'parking'}}</p>
    <iframe class="mx-auto d-block"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2526.5369664650684!2d4.374929112686836!3d50.709976568524446!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3ce250986b7b5%3A0xc74c9dfc625ac47d!2sRue%20Mattot%20135%2C%201410%20Waterloo!5e0!3m2!1sfr!2sbe!4v1743675377730!5m2!1sfr!2sbe"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>
{{> footer lang=htmlWebpackPlugin.options.lang}}