{{> header lang=htmlWebpackPlugin.options.lang}}
<section class="container-fluid main-section-fluid-first section-dark">
  <div class="text-center mb-5">
    <h1 class="page-title">{{{translate htmlWebpackPlugin.options.lang 'press'}}}</h1>
  </div>
  <div class="container text-light section-text">
    <p>
      {{{translate htmlWebpackPlugin.options.lang 'pressDesc'}}}
    </p>
    <ul>
      <li>
        <a href="../../static/documents/1994.jpg" target="_blank">{{{translate htmlWebpackPlugin.options.lang 'pressLink1'}}}</a>
      </li>
      <li>
        <a href="../../static/documents/1996.jpg" target="_blank">{{{translate htmlWebpackPlugin.options.lang 'pressLink2'}}}</a>
      </li>
      <li>
        <a href="../../static/documents/waterloo_info_8_6122003.pdf" target="_blank">{{{translate htmlWebpackPlugin.options.lang 'pressLink3'}}}</a>
      </li>
      <li>
        <a href="../../static/documents/waterloo_info_tdf.pdf" target="_blank">{{{translate htmlWebpackPlugin.options.lang 'pressLink4'}}}</a>
      </li>
      <li>
        <a href="../../static/documents/waterloo_info_20062006.pdf" target="_blank">{{{translate htmlWebpackPlugin.options.lang 'pressLink5'}}}</a>
      </li>
      <li>
        <a href="../../static/documents/waterloo_info_20102006.pdf" target="_blank">{{{translate htmlWebpackPlugin.options.lang 'pressLink6'}}}</a>
      </li>
      <li>
        <a href="../../static/documents/waterloo_info_2006122006.pdf" target="_blank">{{{translate htmlWebpackPlugin.options.lang 'pressLink7'}}}</a>
      </li>
      <li>
        <a href="../../static/documents/waterloo_info_1017.pdf" target="_blank">{{{translate htmlWebpackPlugin.options.lang 'pressLink8'}}}</a>
      </li>
    </ul>
  </div>
</section>
{{> footer lang=htmlWebpackPlugin.options.lang}}